* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  background-color: white;
}

#webview-iframe {
  margin: 0px;
  align-self: stretch;
  justify-self: stretch;
}